/* montserrat-regular - latin */

@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/montserrat-v15-latin-regular.woff2") format("woff2"), url("../fonts/montserrat-v15-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-500 - latin */

@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  src: local(""), url("../fonts/montserrat-v15-latin-500.woff2") format("woff2"), url("../fonts/montserrat-v15-latin-500.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-600 - latin */

@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  src: local(""), url("../fonts/montserrat-v15-latin-600.woff2") format("woff2"), url("../fonts/montserrat-v15-latin-600.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-700 - latin */

@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/montserrat-v15-latin-700.woff2") format("woff2"), url("../fonts/montserrat-v15-latin-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-800 - latin */

@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 800;
  src: local(""), url("../fonts/montserrat-v15-latin-800.woff2") format("woff2"), url("../fonts/montserrat-v15-latin-800.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}

html,
body {
  min-height: 100vh;
  scroll-behavior: smooth;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1570px;
  width: 100%;
  margin: 24px auto 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  width: 75px;
  height: 67px;
  margin-right: 25px;
}

.header__logo-text {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  text-transform: uppercase;
  color: #71C9BA;
}

.header__logo-text span {
  color: #FF9900;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__menu-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #000000;
  text-decoration: none;
  -webkit-transition: 0.1s all ease-in-out;
  -o-transition: 0.1s all ease-in-out;
  transition: 0.1s all ease-in-out;
  text-align: center;
}

.header__menu-item:hover {
  color: #00C9BA;
}

.header__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 202px;
  height: 65px;
  font-family: Montserrat, sans-serif;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  color: #010101;
  background: #F7F4F8;
  border-radius: 6px;
  -webkit-transition: 0.1s all ease-in-out;
  -o-transition: 0.1s all ease-in-out;
  transition: 0.1s all ease-in-out;
  cursor: pointer;
  text-decoration: none;
}

.header__button:hover {
  background: #71C9BA;
}

.header__burger {
  display: none;
  width: 40px;
  height: 20px;
  background: #C4C4C4;
  -webkit-mask: url(../img/1.header/burger.svg) center no-repeat;
  -webkit-mask-size: contain;
  -webkit-transition: 0.5s all ease-in-out;
  -o-transition: 0.5s all ease-in-out;
  transition: 0.5s all ease-in-out;
}

.header__burger:hover {
  background: #71c9ba;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  position: relative;
}

.first-block .block__content-wrapper {
  padding-bottom: 236px;
}

.second-block {
  background: #F8F4F8;
}

.second-block .block__content-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  padding: 91px 0 81px;
}

.third-block .block__content-wrapper {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 105px 0;
}

.fourth-block .block__content-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  padding: 40px 0;
}

.fifth-block {
  background: #F8F4F8;
}

.fifth-block .block__content-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px 0 130px;
}

.sixth-block .block__content-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 0 153px;
}

.seventh-block .block__content-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 0 153px;
}

.eighth-block .block__content-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 0 80px;
}

.ninth-block {
  background: #F8F4F8;
}

.ninth-block .block__content-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 75px 0 145px;
}

.tenth-block .block__content-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 43px 0 15px;
}

.block__content-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1570px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.block__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.block__content_first-block {
  margin-top: 118px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  max-height: 656px;
}

.block__content_fourth-block {
  margin-top: 118px;
}

.block__content_ninth-block {
  margin-top: 80px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.block__text {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #000000;
}

.block__text_center {
  margin: 0 auto;
}

.block__text_title {
  margin-top: 47px;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.block__text_title span {
  color: #71C9BA;
}

.block__text_title_tenth-block {
  margin-top: 0;
  width: 67%;
  text-align: center;
}

.block__text_subtitle {
  margin-top: 73px;
  font-size: 34px;
  color: #000000;
}

.block__text_subtitle_sixth-block {
  width: 67%;
  margin-top: 30px;
  text-align: center;
}

.block__text_highlight-large-text {
  margin-top: 50px;
  font-family: Montserrat, sans-serif;
  font-weight: bold;
  font-size: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  color: #704BDB;
}

.block__text_subtext {
  margin-top: 20px;
  font-family: Montserrat, sans-serif;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #000000;
}

.block__text_first-block-small-text {
  position: absolute;
  left: 0;
  bottom: 53px;
}

.block__text_block-text {
  margin-top: 50px;
  width: 44%;
  font-family: Montserrat, sans-serif;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.block__text_align-center {
  text-align: center;
}

.block__text_mt0 {
  margin-top: 0;
}

.block__text_mt30 {
  margin-top: 30px;
}

.block__buttons-row {
  margin-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.block__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 262px;
  height: 80px;
  border-radius: 6px;
  font-family: Montserrat, sans-serif;
  font-size: 24px;
  text-decoration: none;
  color: #000000;
  text-align: center;
  font-weight: 500;
  -webkit-transition: 0.1s all ease-in-out;
  -o-transition: 0.1s all ease-in-out;
  transition: 0.1s all ease-in-out;
  cursor: pointer;
}

.block__button_green {
  background: #71C9BA;
  margin-right: 50px;
}

.block__button_green:hover {
  background: #E0E0E0;
}

.block__button_grey {
  background: #E0E0E0;
}

.block__button_grey:hover {
  background: #71C9BA;
}

.block__img-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.block__img-wrapper_first-block {
  max-width: 895px;
  width: 50%;
}

.block__img-wrapper_fourth-block {
  max-width: 916px;
  width: 56%;
}

.block__img {
  width: 100%;
}

.block__img_coin-left {
  position: absolute;
  top: 60px;
  width: 300px;
  height: 556px;
  left: -5%;
}

.block__img_coin-right {
  position: absolute;
  top: 60px;
  width: 300px;
  height: 556px;
  right: -5%;
}

.block__img_dotted-place {
  position: absolute;
  width: 43px;
  left: -93px;
  bottom: 53px;
}

.block__img_dotted-place-large {
  position: absolute;
  width: 115px;
  height: 235px;
  top: 16.5%;
  left: 75%;
}

.block__img_dotted-place-large-form {
  position: absolute;
  width: 115px;
  height: 235px;
  top: 14%;
  right: 3.3%;
}

.block__img_dotted-place-large-form_resize {
  top: 10%;
  width: 184px;
  right: 4%;
}

.block__img_dotted-place-bottom {
  position: absolute;
  width: 270px;
  height: 85px;
}

.block__img_dotted-place-bottom_form {
  top: 1%;
  left: 13%;
}

.block__img_dotted-place-bottom_fourth-block {
  right: -5%;
  bottom: 11%;
}

.block__img_dotted-place-bottom_fifth-block {
  top: -1%;
  left: 15%;
}

.block__img_dotted-place-bottom_sixth-block {
  width: 394px;
  height: 241px;
  left: 9%;
  bottom: 11.5%;
  background: #ECB548;
  -webkit-mask: url(../img/2.content/dotted-place-bottom-l.svg) center no-repeat;
  -webkit-mask-size: contain;
}

.block__img_dotted-place-bottom_orange {
  background: #ECB548;
  -webkit-mask: url(../img/2.content/dotted-place-bottom.svg) center no-repeat;
  -webkit-mask-size: contain;
}

.block__img_arrows-row {
  position: absolute;
  width: 526px;
  height: 60px;
  top: 35%;
  left: 12%;
}

.block__img_arrows-row-long {
  position: absolute;
  width: 898px;
  height: 20px;
  left: 10%;
  bottom: 10%;
}

.block__img_arrows-row-long_resize {
  max-width: 526px;
  overflow-x: hidden;
  -o-object-fit: cover;
     object-fit: cover;
  bottom: 7%;
}

.steps-list {
  margin-top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  counter-reset: steps;
  width: 100%;
  height: 450px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.steps-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 230px;
  margin-top: auto;
  position: relative;
}

.steps-list__item:nth-of-type(1) .steps-list__item-img-wrapper::before {
  left: -40px;
}

.steps-list__item:nth-of-type(2n) {
  margin-top: 0;
}

.steps-list__item-img-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 138px;
  height: 138px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 6px;
  background: #C4C4C4 center no-repeat;
  background-size: 70%;
  position: relative;
}

.steps-list__item-img-wrapper::before {
  top: -15px;
  left: -55px;
  position: absolute;
  counter-increment: steps;
  content: counter(steps);
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 72px;
  line-height: 88px;
  text-align: center;
  text-transform: uppercase;
  color: #F8F4F8;
  -webkit-text-stroke: 2px #C4C4C4;
}

.steps-list__item-img-wrapper_green {
  background-color: #71c9ba;
}

.steps-list__item-img-wrapper_orange {
  background-color: #ECB548;
}

.steps-list__item-img-wrapper_1 {
  background-image: url(../img/2.content/step1.svg);
}

.steps-list__item-img-wrapper_2 {
  background-image: url(../img/2.content/step2.png);
}

.steps-list__item-img-wrapper_3 {
  background-image: url(../img/2.content/step3.svg);
}

.steps-list__item-img-wrapper_4 {
  background-image: url(../img/2.content/step4.svg);
}

.steps-list__item-img-wrapper_5 {
  background-image: url(../img/2.content/step5.svg);
}

.steps-list__item-img-wrapper_6 {
  background-image: url(../img/2.content/step6.svg);
}

.steps-list__item-text {
  margin-top: 20px;
  font-family: Montserrat, sans-serif;
  font-size: 24px;
  text-align: center;
  color: #000000;
}

.block-with-wave {
  position: absolute;
  top: -50px;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 170px;
  height: 162px;
  background: url(../img/2.content/steps-wave.svg) center no-repeat;
  background-size: contain;
}

.block-with-wave_form {
  width: 300px;
  height: 270px;
  top: 40%;
  right: -150px;
}

.block-with-wave_circle-wave {
  top: -140px;
  left: 20px;
  right: unset;
  width: 177px;
  height: 177px;
  background-image: url(../img/2.content/circle-wave.svg);
}

.block-with-wave_sixth-block {
  width: 286px;
  height: 272px;
  top: 33%;
  right: 10%;
}

.block-with-wave_rental {
  top: 26%;
  right: -8%;
}

.block-with-wave_rental-reverse {
  top: 25%;
  left: -8%;
}

.form-block {
  background: #EBF6F5;
}

.form-block .block__content-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px 0 170px;
}

.short-form {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.short-form__error-text {
  opacity: 0;
  position: absolute;
  font-family: Montserrat, sans-serif;
  font-size: 20px;
  color: #ff8282;
  top: -35%;
  left: 34%;
  -webkit-transition: 0.1s all ease-in-out;
  -o-transition: 0.1s all ease-in-out;
  transition: 0.1s all ease-in-out;
}

.short-form__input {
  margin-right: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 378px;
  height: 110px;
  padding-left: 103px;
  font-family: Montserrat, sans-serif;
  font-size: 30px;
  line-height: 35px;
  color: rgba(0, 0, 0, 0.5);
  border-radius: 6px;
}

.short-form__input:focus {
  outline: 2px solid #00C9BA;
}

.short-form__input_textarea {
  padding-top: 20px;
  padding-left: 50px;
  resize: none;
}

.short-form__input_textarea_active {
  padding-top: 40px;
}

.short-form__input_wrong {
  background: #fdc5c5;
}

.short-form__submit {
  margin-left: auto;
  width: 431px;
  height: 110px;
  font-size: 30px;
  color: #FFFFFF;
  font-weight: 500;
  text-transform: uppercase;
  z-index: 2;
  -webkit-transition: 0.1s all ease-in-out;
  -o-transition: 0.1s all ease-in-out;
  transition: 0.1s all ease-in-out;
}

.short-form__submit_correct {
  border: 2px solid #23d05d;
}

.short-form__submit_error {
  border: 1px solid #ff8282;
  background: #fdc5c5;
}

.short-form__submit_standalone {
  margin: 30px 0 0;
}

.warranty-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 156px;
  height: 435px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.warranty-list__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 18%;
  min-height: 58%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.warranty-list__item:nth-of-type(2n) {
  margin-top: auto;
}

.warranty-list__item-img-wrapper {
  position: absolute;
  top: -30%;
  left: calc((100% - 134px) / 2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 134px;
  height: 134px;
  border-radius: 50%;
  background: #71C9BA;
  z-index: 1;
}

.warranty-list__item-img {
  width: 100%;
}

.warranty-list__item-text {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  min-height: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  padding: 90px 30px 50px;
  background: #E0E0E0;
  border-radius: 6px;
  font-family: Montserrat, sans-serif;
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
  text-align: center;
  color: #000000;
}

.rental-period {
  margin-top: 60px;
  padding: 107px 0 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  position: relative;
  width: 62%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #F8F4F8;
  border-radius: 6px;
}

.rental-period__text {
  font-family: Montserrat, sans-serif;
  font-size: 30px;
  text-align: center;
  font-weight: 500;
  color: #000000;
}

.rental-period__text_left {
  position: absolute;
  top: 45px;
  left: 10%;
}

.rental-period__text_right {
  position: absolute;
  top: 45px;
  right: 10%;
}

.rental-period__text_result {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
}

.rental-period__text_result span {
  margin-top: 10px;
  color: #704BDB;
}

.rental-period__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 25px;
  width: 67%;
}

.rental-period__input[type=range] {
  -webkit-appearance: none;
  width: 67%;
  background: transparent;
}

.rental-period__input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 54px;
  width: 54px;
  border-radius: 50%;
  background: #71C9BA;
  cursor: pointer;
  margin-top: -27px;
}

.rental-period__input[type=range]::-webkit-slider-runnable-track {
  width: 90%;
  height: 1px;
  cursor: pointer;
  border-radius: 1.3px;
  border: 2px solid #CDC8D8;
  border-left: none;
  border-right: none;
}

.rental-procedure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  counter-reset: rental;
}

.rental-procedure__step {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 45%;
  margin-top: 35px;
}

.rental-procedure__step_reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-flow: row-reverse;
          flex-flow: row-reverse;
}

.rental-procedure__step-img-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: relative;
}

.rental-procedure__step-img {
  width: 100%;
  position: relative;
}

.rental-procedure__step-img_1 {
  bottom: -20px;
}

.rental-procedure__step-img_2 {
  bottom: -40px;
}

.rental-procedure__step-img_3 {
  bottom: -40px;
}

.rental-procedure__step-img_4 {
  bottom: -60px;
}

.rental-procedure__step-text-wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 50%;
}

.rental-procedure__step-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 250px;
  height: 230px;
  padding: 15px 20px;
  background: #E0E0E0;
  border-radius: 6px;
  z-index: 3;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #000000;
}

.rental-procedure__step-text::before {
  counter-increment: rental;
  content: counter(rental);
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 72px;
  line-height: 88px;
  text-align: center;
  text-transform: uppercase;
  color: #E0E0E0;
  -webkit-text-stroke: 2px #C4C4C4;
}

.video-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30%;
}

.video-block__text {
  margin-top: 15px;
  font-family: Montserrat, sans-serif;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #000000;
}

.block__img_coin-left-m,
.block__img_coin-right-m {
  display: none;
}

.block__video {
  width: 570px;
  height: 440px;
  z-index: 2;
}

.video {
  position: relative;
  width: 100%;
  height: 100%;
  background: #010101;
}

.video_enabled {
  cursor: pointer;
}

.video_enabled .video__button {
  display: block;
}

.video__media {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

.video__button {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 68px;
  height: 48px;
  border: none;
  background-color: transparent;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: none;
}

.video__button-shape {
  fill: #212121;
  fill-opacity: 0.8;
}

.video:hover .video__button-shape {
  fill: #ff0000;
  fill-opacity: 1;
}

.video__button-icon {
  fill: #FFFFFF;
}

@media (max-width: 1571px) {
  .block__content_first-block {
    margin-top: 8%;
  }

  .block__text_title {
    margin-top: 3%;
  }

  .first-block .block__content-wrapper {
    padding-bottom: 17%;
  }

  .second-block .block__content-wrapper {
    padding: 5% 0 4%;
  }

  .third-block .block__content-wrapper {
    padding: 7% 0 7%;
  }

  .form-block .block__content-wrapper,
  .fifth-block .block__content-wrapper,
  .sixth-block .block__content-wrapper,
  .seventh-block .block__content-wrapper,
  .ninth-block .block__content-wrapper {
    padding: 3% 0 10%;
    overflow: hidden;
  }

  .block__content_first-block,
  .block__content_fourth-block {
    padding-left: 3%;
    padding-right: 3%;
  }

  .block__content_fourth-block {
    margin-top: 8%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .block__text_first-block-small-text {
    left: 3%;
  }

  .short-form {
    width: 87%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .short-form__input {
    width: 28%;
    margin: 0;
    padding-left: 7%;
  }

  .short-form__input_textarea {
    padding-left: 3.5%;
  }

  .short-form__submit {
    width: 32%;
    margin: 0;
  }

  .short-form__submit_standalone {
    margin-top: 30px;
  }

  .warranty-list {
    margin-top: 10%;
  }

  .short-form {
    margin-top: 6%;
  }
}

@media (max-width: 1367px) {
  .steps-list {
    padding-left: 3%;
    padding-right: 3%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .steps-list__item {
    width: 15%;
  }

  .block__text_title {
    font-size: 30px;
  }

  .block__text_subtitle {
    font-size: 28px;
  }

  .steps-list__item-text,
  .warranty-list__item-text,
  .block__text_block-text,
  .rental-procedure__step-text,
  .video-block__text {
    font-size: 20px;
  }

  .block__video_ninth-block {
    width: 100%;
    height: 300px;
  }

  .short-form__input,
  .block__button,
  .rental-period__text {
    font-size: 24px;
  }

  .block__text_subtext {
    font-size: 18px;
  }

  .steps-list__item-img-wrapper::before,
  .steps-list__item:nth-of-type(1) .steps-list__item-img-wrapper::before {
    top: -80px;
    left: 45px;
  }

  .short-form__submit_standalone {
    padding-left: 35px;
    padding-right: 35px;
  }
}

@media (max-width: 1025px) {
  .header__logo {
    margin-right: 10px;
  }

  .steps-list {
    height: 350px;
  }

  .steps-list__item-img-wrapper {
    width: 82px;
    height: 82px;
  }

  .steps-list__item-img {
    width: unset;
  }

  .steps-list .block-with-wave {
    top: -30px;
    width: 102px;
    height: 102px;
  }

  .block__text_block-text {
    margin-top: 0;
  }

  .warranty-list__item-img-wrapper {
    top: -20%;
  }

  .block-with-wave_circle-wave {
    top: -100px;
    left: 60px;
    width: 120px;
    height: 120px;
  }

  .steps-list__item-img-wrapper::before,
  .steps-list__item:nth-of-type(1) .steps-list__item-img-wrapper::before {
    top: -80px;
    left: 20px;
  }

  .eighth-block {
    overflow-x: hidden;
  }
}

@media (max-width: 769px) {
  .header {
    margin: 0;
    width: 100vw;
    padding: 24px calc((100% - 360px) / 2) 10px;
    position: fixed;
    z-index: 10;
    background: #FFFFFF;
    border-bottom: 1px solid #71c9ba;
  }

  .header__logo {
    width: 50px;
    height: 43px;
    margin-right: 8px;
  }

  .header__logo-text {
    font-size: 13px;
  }

  .header__menu {
    position: absolute;
    left: 0;
    top: -100vh;
    width: 100vw;
    height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    padding-top: 15%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: #FFFFFF;
    z-index: 100;
    -webkit-transition: 0.5s all ease-in-out;
    -o-transition: 0.5s all ease-in-out;
    transition: 0.5s all ease-in-out;
  }

  .header__menu_active {
    top: 0;
  }

  .header__menu-item {
    margin-bottom: 20px;
  }

  .header__button {
    display: none;
  }

  .header__burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 100;
  }

  .block__content_first-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    height: unset;
    max-height: unset;
  }

  .block__content-wrapper {
    max-width: 360px;
    overflow: visible !important;
  }

  .block__text_title {
    font-size: 20px;
    width: 90%;
    font-weight: 800;
    text-align: center;
  }

  .block__text_title:nth-of-type(2) {
    margin-top: 40px;
  }

  .block__content_first-block .block__text_title {
    text-align: left;
    width: 100%;
  }

  .block__text_subtitle {
    margin-top: 30px;
    font-size: 18px;
    width: 100%;
  }

  .block__img-wrapper_first-block {
    margin-top: 50px;
    width: 100%;
  }

  .block__buttons-row {
    margin-top: 0;
    width: 100%;
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-flow: column-reverse;
            flex-flow: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .block__buttons-row .block__button {
    margin: 40px 0 0;
    font-size: 18px;
    width: 220px;
    height: 50px;
  }

  .first-block {
    margin-top: 90px;
  }

  .block__text_first-block-small-text {
    bottom: 20px;
    font-size: 12px;
    left: 40px;
  }

  .steps-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    height: unset;
    margin-top: 30px;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }

  .steps-list__item {
    width: 45%;
  }

  .steps-list__item:nth-of-type(2n+1) {
    margin-top: 45px;
  }

  .steps-list__item:nth-of-type(2n) {
    margin-top: 200px;
  }

  .steps-list__item:nth-of-type(1) {
    margin: 0;
  }

  .steps-list__item:last-of-type {
    margin-top: 240px;
  }

  .steps-list__item .block-with-wave {
    width: 129px;
    height: 123px;
    top: -43px;
  }

  .steps-list__item-img-wrapper {
    width: 104px;
    height: 104px;
  }

  .steps-list__item-img-wrapper::before {
    font-weight: 500;
  }

  .steps-list__item-text {
    font-size: 14px;
  }

  .block__video_third-block {
    width: 100%;
    height: 262px;
  }

  .third-block .block__img_arrows-row,
  .third-block .block__img_dotted-place-large {
    display: none;
  }

  .form-block .block__text_subtitle {
    text-align: center;
  }

  .block__img_dotted-place-bottom_form {
    display: none;
  }

  .short-form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    width: 70%;
  }

  .short-form__input {
    width: 100%;
    margin-top: 20px;
    height: 60px;
    font-size: 18px;
  }

  .short-form__submit {
    width: 100%;
    margin-top: 60px;
    height: 60px;
    font-size: 18px;
  }

  .block-with-wave_form {
    width: 137px;
    height: 130px;
    top: unset;
    bottom: -30px;
    right: -70px;
  }

  .block__content_fourth-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-flow: column-reverse;
            flex-flow: column-reverse;
  }

  .block__text_block-text {
    width: 100%;
    font-size: 14px;
  }

  .block__img_dotted-place-bottom_fourth-block,
  .block__img_dotted-place-bottom_fifth-block {
    display: none;
  }

  .block__img-wrapper_fourth-block {
    margin-top: 20px;
    width: 430px;
  }

  .block__text_subtitle {
    font-size: 14px;
  }

  .warranty-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    height: unset;
    min-height: unset;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
  }

  .warranty-list__item {
    margin-top: 126px;
    width: 236px;
    min-height: 188px;
  }

  .warranty-list__item:first-of-type {
    margin-top: 60px;
  }

  .warranty-list__item:nth-of-type(2n) {
    margin-top: 126px;
  }

  .warranty-list__item-img-wrapper {
    top: -80px;
  }

  .warranty-list__item-text {
    font-size: 18px;
    padding: 90px 20px 45px;
    width: 100%;
  }

  .block-with-wave_circle-wave {
    left: 10px;
  }

  .rental-period {
    margin-top: 20px;
    width: 100%;
    padding: 50px 20px 10px;
  }

  .rental-period input[type=range] {
    width: 100%;
  }

  .rental-period input[type=range]::-webkit-slider-thumb {
    width: 24px;
    height: 24px;
    margin-top: -12px;
  }

  .rental-period__text {
    font-size: 14px;
  }

  .rental-period__text_right {
    top: 12px;
    right: 10px;
  }

  .rental-period__text_left {
    top: 12px;
    left: 10px;
  }

  .rental-period__text_result {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-flow: column-reverse;
            flex-flow: column-reverse;
  }

  .block__img_dotted-place-bottom_sixth-block {
    width: 102px;
    height: 63px;
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
    top: 20%;
    left: -100px;
  }

  .block-with-wave_sixth-block {
    width: 137px;
    height: 130px;
    top: -70px;
    right: -40px;
  }

  .block__img_dotted-place-large-form,
  .block__img_arrows-row-long {
    display: none;
  }

  .block__content_ninth-block {
    margin-top: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }

  .video-block {
    width: 100%;
  }

  .video-block__text {
    margin-top: 10px;
    font-size: 14px;
    margin-bottom: 20px;
    font-weight: 500;
    line-height: 1.2;
  }

  .rental-procedure__step {
    width: 100%;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }

  .rental-procedure__step:nth-of-type(2n) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-flow: row-reverse;
            flex-flow: row-reverse;
  }

  .rental-procedure__step:nth-of-type(2n+1) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
  }

  .rental-procedure__step-text-wrapper {
    width: 116px;
    min-height: 100px;
  }

  .rental-procedure__step-text {
    font-size: 14px;
    padding: 10px 5px;
    height: 100px;
    line-height: 1.2;
  }

  .rental-procedure__step-text::before {
    font-size: 24px;
    line-height: 1;
  }

  .rental-procedure__step-img_2 {
    bottom: -20px;
  }

  .rental-procedure__step-img_3 {
    bottom: -10px;
  }

  .rental-procedure__step-img_4 {
    bottom: -30px;
  }

  .block-with-wave_rental {
    width: 80px;
    height: 75px;
    top: -20px;
    right: -40px;
  }

  .block-with-wave_rental_2 {
    right: unset;
    left: -40px;
  }

  .block-with-wave_rental-reverse {
    width: 80px;
    height: 75px;
    top: -20px;
    left: -40px;
  }

  .block-with-wave_rental_3 {
    left: unset;
    right: -40px;
  }

  .block__img_coin-left,
  .block__img_coin-right {
    display: none;
  }

  .block__text_highlight-large-text {
    margin-top: 30px;
    width: 251px;
    font-size: 14px;
    text-align: center;
  }

  .short-form__submit_standalone {
    margin-top: 30px;
    width: 250px;
    padding-left: 0;
    padding-right: 0;
  }

  .block__text_subtext {
    font-size: 12px;
    line-height: 1.2;
  }

  .block-with-wave_form_last {
    bottom: -25px;
    left: 25%;
  }

  .short-form__input {
    padding-left: 75px;
  }

  .short-form__input_textarea {
    padding-top: 10px;
    padding-left: 40px;
    line-height: 1.2;
  }

  .short-form__input_textarea_active {
    padding-top: 20px;
  }

  .short-form__error-text {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    left: -15%;
    top: 63%;
  }

  .block__img_coin-left-m,
  .block__img_coin-right-m {
    position: absolute;
    display: block;
    width: 167px;
    height: 328px;
    top: 0;
  }

  .block__img_coin-left-m {
    left: -70px;
  }

  .block__img_coin-right-m {
    right: -70px;
  }

  .steps-list__item-img-wrapper::before,
  .steps-list__item:nth-of-type(1) .steps-list__item-img-wrapper::before {
    top: -15px;
    left: -45px;
  }

  .anchor {
    position: absolute;
    top: -85px;
  }
}

@media (max-width: 361px) {
  .steps-list__item-img-wrapper::before,
  .steps-list__item:nth-of-type(1) .steps-list__item-img-wrapper::before {
    left: -30px;
  }
}